@CHARSET "UTF-8";
body {
	position: relative;
}

.affix {
	top: 0;
	width: 100%;
	z-index: 9999 !important;
}

.navbar {
	margin-bottom: 0px;
	background-color:white;
	border: none;

	border-radius: 0px;
	
}


.nav>li>a {
	color: #3e3a39;
}

.affix ~ .container-fluid {
	position: relative;
	top: 50px;
}

.grid-demo {
	padding: 0px 30px;
	    width: 1140px;
    margin: 0 auto;
    height: 10px;
}

.grid-demo [class*="col-"] {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1em;
	text-align: center;
	line-height: 2;
	color: #3e3a39;
}

.mainlogo {
	width: 1140px;
	margin: 0px auto;
	padding: 30px 0px 30px 0px;
}

.mainimg {
	margin: 0px auto;
	width: 300px;
}

.member {
	float: right;
	font-size: 14px;
}
.member a{
	font-family: 'BareunDotum';
    font-style: normal;
    font-weight: 400;
    color:#595757;

	font-size: 16px;
}

a {
	 font-family: 'BareunDotum';
  font-style: normal;
  font-weight: 300;
	color: #717071;
}

.col-sm-2 {
	background: none;
	border: none;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color: white;
}

.nav>li>a:hover {
	background: white;
}

.yamm .dropdown.yamm-fw .dropdown-menu {
	background: #eee;
	border: none;

}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: white;
}
.yamm .nav, .yamm .collapse, .yamm .dropup, .yamm .dropdown{
padding: 0;
}
.container{
width: 1140px;
}
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;
}
.yamm .yamm-content {
  padding: 20px 30px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
 	left: -35%;
    right: -35%;
}

