.member-body{ 
	width: 100%;
	height: 100%; 
    font-size: 14px; 
    font-weight: 300; 
    color: #777; 
    background-color: #eeeeee; 
}


.member-container {
	text-align:center;
	width: 500px; 
	height: 700px;
	margin : 5% auto;
	background: url('/wooltari/resource/img/member_note.png') no-repeat;
}

.member-container h3{
	font-family: 'BareunDotum';
	color: #aaaaaa; 
}

.member-container a, a:hover, a:focus {
	color: #888888; 
}
.member-outer {
}
.member-inner {
	padding-top: 70px; 
	width: 400px;
	margin: auto;
}

.form-bottom form button.member_btn {
	font-weight: 600; 
	width: 100%;
} 

.form-bottom form .input-error {
	border: 2px solid #1abc9c;
}
.form-top, .form-bottom {
	
}
.login-msg, .member-form, .login-social{
	margin-top: 50px;
}

.btn-link-1 {
	display: inline-block;
	background: #1abc9c;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #ffffff; }

.btn-link-1.btn-link-1-facebook { background: #4862a3; color: #ffffff; }
.btn-link-1.btn-link-1-google-plus { background: #dd4b39; color: #ffffff; }
.btn-link-1.btn-link-1-kakaotalk { background: #f9e000; color: #3b1e1e; }

.btn-link-1 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #ffffff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #ffffff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #ffffff; }


