@CHARSET "UTF-8";

h3{
	font-size: 14px; 
}
.filter .filter-section, .filter .option-section {
    color: #666;
    font-weight: 300;
    font-size: 14px;
    min-height: 55px;
    padding: 10px 25px;
    border-top: 1px solid #f2f1f1;
} 

.pic-list .pic-list-padding {
    padding: 10px;
}

select>optgroup:disabled, select>option:disabled{
    -moz-user-select : none;
    -webkit-user-select : none;
}

/*최대 넓이가 1000px인 container*/
.sm-container {
    max-width:1200px;
}

/*[Panel] 감싸는 div*/
.contents-box {
    background-color:#fff;
    width:100%;
    border-radius:8px;
    overflow:hidden;
    box-shadow: 1px 1px 2px #D4D4D4;
    margin-bottom: 14px;
    position:relative;
}
/*[Panel] 상단 제목 부분*/    
.contents-header {
    background-color:#656D77;
    color:#fff;
    padding: 14px 16px;
    font-weight:500;
}
/*[Panel] 만약 상단에 버튼을 넣어야 할 경우 in-btn 클래스 추가*/
.contents-header.in-btn {
    padding: 10px 16px;
}
/*[Panel] 중앙 내용 부분*/
.contents-body {
    padding: 22px 20px 20px;
}
/*[Panel] control 왼쪽에 제목(글씨) 부분*/
.contents-body .control-label {
    font-size:13px;
    color:#8C8C8C;
    padding-top:6px;
}
/*[Panel] 하단 부분*/
.contents-footer {
    background-color:#EEF0F1;
    width:100%;
    padding: 14px 16px;
    overflow: hidden;
}
/*[button]포인트 버튼*/
.btn-point{
    background-color:#1abc9c;
    color:#fff;
}
/*[button]포인트 버튼 마우스 오버시*/
.btn-point:hover{
    background-color:#009DCC;
    color:#fff;
}
/*[overlay]아이템 오버레이*/
.item-overlay{
    position:absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    background-color: transparent;
    -webkit-transition:background 0.4s, color 0.4s;
    transition: background 0.4s, color 0.4s;
    z-index:10;
    /*border-radius:8px;*/
}
/*[overlay]item 마우스 오버시*/
.item-overlay:hover {
    background-color: rgba(96, 166, 185, 0.25);
}

/*[overlay]이미지 오버레이: 이미지위에 글을 올릴수 있게 이미지를 어둡게 함*/
.img-overlay{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    background-color:rgba(0,0,0,0.2);
    /*border-radius:5px;*/
}
/*유효성 체크 결과 표시*/
.validation {
    font-size:12px;
    margin: 8px 0 0 2px;
    color: #F56058;
    display:none;
    /*기본값 -> display: none*/
}
.validation em {
    padding-right:4px;
}

/*[슬라이더]공통 슬라이더: 슬라이더 id를 slider-range로 지정해서 적용*/
#slider-range.ui-slider {
    height: 8px;
}

#slider-range .ui-state-default {
    border-radius:20px;
    height: 22px;
    width: 22px;
    top:-8px ;
}

/*[label] 회색의 label*/
label.tag {
    padding: 8px 20px;
    background-color: #F5F5F5;
    color: #777;
    margin-right: 4px;
    font-size: 13px;
    cursor: pointer;
    font-weight: 300;
    -webkit-transition: background 0.4s, color 0.4s;
    transition: background 0.4s, color 0.4s;
    position:relative;
}

label.tag.check{
    background-color:#1abc9c;
    color:#fff;
}

label.tag:hover:not(.check){
    background-color: #E0E0E0;
    color: #8A8A8A;
}

label.tag > em {
    position: absolute;
    right: 5px;
    top: 3px;
    font-size: 10px;
    color: #C7C7C7;
    font-weight: 300;
}

/*[label] 서류인증 라벨*/
.school-certify {
    font-size:13px;
    font-weight:normal;
    background:#1abc9c;
    color:#fff;
    border-radius:4px;
    padding: 1px 10px;
}

/*모꼬지 버튼*/
.btn-moccozy {
    width:100%;
    background-color: #1abc9c;
    color:#fff;
    padding: 12px 22px;
}
.btn-moccozy:hover, .btn-moccozy:focus {
    color:#1abc9c;
    background-color:#fff;
    border:1px solid #1abc9c;
    
    -webkit-transition:background-color 0.3s;
    transition: background-color 0.3s;
}

/*자간:0 (영문, 숫자 일 때)*/
.no-letter-spacing {
    letter-spacing:0;
}

/*[비동기 통신] 로딩아이콘*/
.loading-spinner {
  margin: 20px auto 0;
  width: 54px;
  text-align: center;
  position: absolute;
  top: 50%; 
  left: 50%; 
  margin-top: -4px; 
  margin-left: -28px; 
}

.loading-spinner > div {
  width: 8px;
  height: 8px;
  margin:0 4px;
  background-color: #04BCF5;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.loading-spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loading-spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/*[비동기 통신] 틴트:움직이는형*/
.loading-overlay {
    background:rgba(255,255,255,0.9);
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index: 500;
    display:none;
    background-image:url('http://moccozy.blob.core.windows.net/resource/loading.gif');
    background-position:center;
    background-repeat:no-repeat;
}


/* 찜버튼 하트 효과 -- 최민수 */
/*최민수 추가*/
.heart {
    background: url(http://moccozy.blob.core.windows.net/resource/web_heart_animation.png);
    background-position: left;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    cursor: pointer;
    position: relative;
    top: -3px;
    left: 13px;
    background-size: 1450px;
    float: right;
}
.heart:hover
{
background-position: right; 
}
@-webkit-keyframes heartBlast 
{
0% {background-position: left;}
100% {background-position: right;}
}

@keyframes heartBlast 
{
0% {background-position: left;}
100% {background-position: right;}
}

.heartAnimation 
{
-webkit-animation-name: heartBlast; 
animation-name: heartBlast;
-webkit-animation-duration: 1.2s;
animation-duration: 1.1s;
-webkit-animation-iteration-count: 1;
animation-iteration-count: 1;
-webkit-animation-timing-function: steps(28); 
animation-timing-function: steps(28);
background-position: right;
}
.likeText {
    width: 50%;
    height:44px;
    float:left;
    text-align:left;
    padding:14px 0;
}
.likeText.disabled{
    display:none;
}
.likeText.enabled{
    display:block;
}

.heartWrapper.enabled{
    width: 57%; height:44px;float:left;
}
.heartWrapper.disabled{
    width: 50%; height:44px;float:left;
}

/*.likeIt { 
    border:1px solid rgba(255,0,0,0.4);
}
.likeCancel{
    color: rgb(102, 102, 102); 
}*/

/* 찜 버튼 스피너 css -- 최민수 */
.ball-pulse{
    width: 100%;
    height: 44px;
    padding: 15px;
}
.ball-pulse>div {
    background-color: #fff;
    width: 16px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block;
}
.ball-pulse>div:nth-child(1) {
    -webkit-animation: scale .75s -.24s infinite cubic-bezier(.2,.68,.18,1.08);
    animation: scale .75s -.24s infinite cubic-bezier(.2,.68,.18,1.08);
}
.ball-pulse>div:nth-child(2) {
    -webkit-animation: scale .75s -.12s infinite cubic-bezier(.2,.68,.18,1.08);
    animation: scale .75s -.12s infinite cubic-bezier(.2,.68,.18,1.08);
}
.ball-pulse>div:nth-child(3) {
    -webkit-animation: scale .75s 0s infinite cubic-bezier(.2,.68,.18,1.08);
    animation: scale .75s 0s infinite cubic-bezier(.2,.68,.18,1.08);
}

/*글자가 넓이보다 길 경우 ...으로 짜르기*/
.text-overflow{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*textarea 리사이징 막기*/
textarea{
    resize:none;
}

.placeholder { color: #aaa; }

/*등록페이지 설명글*/
.explanation {
    font-size:13px;
    margin: 5px 0;
    color: #757575;
}
.explanation em {
    padding-right: 4px;
    color: #1abc9c;
}
.loading_image_box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50,50,50,.6);
    z-index: 2000;
    display:none;
}
.loading_image {
    padding: 15px;
    border-radius: 100%;
    width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    perspective:400px;
    z-index:1000;
    margin:0 auto;
    display:none;
}
.loding_study {
    background-image:url('https://moccozy.blob.core.windows.net/icon/icon_loading_study.png')
}
.loding_art {
    background-image:url('https://moccozy.blob.core.windows.net/icon/icon_loading_art.png')
}
.loding_bowling {
    background-image:url('https://moccozy.blob.core.windows.net/icon/icon_loading_bowling.png')
}
.loding_camera {
    background-image:url('https://moccozy.blob.core.windows.net/icon/icon_loading_camera.png')
}
.loding_cooking {
    background-image:url('https://moccozy.blob.core.windows.net/icon/icon_loading_cooking.png')
}

.loading_image.transferImage{
    display:block;
    transform:rotateY(0deg);
}
.loading_image_wrap{
    display:table-cell;
    vertical-align:middle;
}
.loading_image_overlay {
    background-color: #fff;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    margin: 0 auto;
    padding: 10px;
}




/*모꼬지아이템*/

.pic-list a, .pic-list a:hover{
    text-decoration:none;
    color:inherit;
}


.study-item-overlay {
    width:100%;
    height:391px; /*pic-item 높이와 맞추기*/
    position:absolute;
    top:0;
    left:0;
    background-color:#60A6B9;
    z-index:9;
    opacity:0;
    transition:all 0.5s ;
    -webkit-transition:all 0.5s ;
    -o-transition:all 0.5s ;
    -moz-transition:all 0.5s ;
}

.study-item-overlay:hover {
    opacity:0.25;
}

.study-item-overlay.status-complete {
    background-color: #000;
    opacity: 0.8;
}

.status-complete-text{
    width: 104px;
    height: 40px;
    font-size:28px;
    color:#fff;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-52px;
    margin-top:-20px;
}

.study-item-wrap a{
    text-decoration:none;
}

.study-item{
    width:100%;
    height:auto;
    box-shadow: 2px 2px 2px #d0d0d0;
    border:1px solid #efefef;
    position:relative;
    overflow:hidden;
    background-color:#000;
    transition:background-color 2s ;
    -webkit-transition:background-color 2s ;
    -o-transition:background-color 2s ;
    -moz-transition:background-color 2s ;
}

.study-item .header-bg {
    width:100%;
    height:245px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    opacity:0.5;
}

.study-item .header-text-container {
	padding-left: 5px; 
    width:100%;
    height:260px;
    max-height:220px;
    position:absolute;
    top:0;
    left:0;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display:table;
}


.study-item .header-text {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    color:#fff;
    font-weight:300;
    padding: 0 20px;
}

.study-item .header-text .title{
    font-size:22px;
    font-weight:400;
}
@media screen and ( max-width : 768px ) {
    .study-item .header-text .title {
        font-size:17px;
    }
    .study-item .item-contents .user-name{
    padding-bottom:5px !important;
}
#pick-container .study-item .item-contents .location{
    font-size:15px;
}
#pick-container .study-item .item-contents .strong-info{
    font-size:15px !important;
}
   #pick-container .study-item .item-contents .user-name {
    font-size:13px !important;
}
}

.study-item .header-text .sub-title {
    font-size:18px;
    margin-top:10px;
    opacity:0.8;
}


.study-item .header-text .tag {
    font-size: 15px;
    position: absolute;
    bottom: -18px;
    left:0;
    width: 100%;
}

.study-item .header-text .tag > span {
    margin-right:6px;
}

.study-item .header-text .tag > span.last{
    margin-right:0;
}

.study-item .item-contents {
    width:100%;
    height:160px;
    background-color:#fff;
    border-top:1px solid #efefef;
    position:relative; 
    padding-top:28px;
    text-align:center;
    font-weight:300;
    color:#666;
}

#pick-container .study-item .item-contents .user-name {
    font-size:14px;
}
.study-item .item-contents .user-name{
    font-size:16px;
    font-weight:400;
    padding:10px ;
    padding-bottom:14px;
}


.study-item .item-contents .location{
    font-size:17px;
    padding-bottom:4px;
    text-align:center;
    padding: 0 16px;
}

.study-item .item-contents .strong-info{
    font-size:14px;
    margin-top: 1px;
    color:#1abc9c;
    font-weight:500;
    text-align:center;
    padding: 0 16px;
}


.study-item .profile-image {
    width:96px;
    height:96px;
    position:absolute;
    top:0;
    left:50%;
    margin-top:-48px;
    margin-left:-48px;
    border:2px solid #efefef;
    background-color:#efefef;
    border-radius:50%;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    z-index: 1;
}

.study-item .header-bg-overlay {
    width:100%;
    height:300px;
    position:absolute;
    background-color:#000;

}


/*왼쪽정렬 형식*/

.study-item.align-left .study-item-overlay{
    height:405px;
}

.study-item.align-left.place-item .study-item-overlay{
    height:379px;
}

.study-item.align-left .header-text-container {
    max-height:288px;
    display:block;
}

.study-item.align-left .header-bg{
     height: 288px;
}

.study-item.align-left .header-text{
    text-align:left;
    display:block;
    padding-left:25px;
    padding-right:25px;
    height: 100%;
}

.study-item .header-text.align-left .title-wrap {
    height:60%;
}
.study-item .header-text.align-left .title{
    font-size: 24px;
    height: 60%; 
    padding-top: 40px;
    display: block;
    max-width: 100%;
    height: 136px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.study-item .header-text.align-left .tag{
    position:relative;
    top:0;
    bottom:0;
    left:0;
    height:25%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.study-item .item-contents.align-left{
    height:116px;
}

.study-item .item-contents.align-left .location, .study-item .item-contents.align-left .strong-info {
    text-align:left;
    //padding-left:25px;
    padding-right:25px;
}


.study-item .item-contents.align-left .profile-image {
    left: inherit;
    right: 20px;
}

.study-item .item-contents.align-left .user-name{
    position: absolute;
    top: 0;
    right: 110px;
}

.study-item .item-contents .icon-container{
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.study-item-wrap{padding:10px;}

.icon-img{
    width:15px;
    position:relative;
    top:-1px;
    margin-left:4px;
}

.study-item.place-item .item-contents {
    padding-top: 20px;
    height: 90px;
}

.study-item .header-text-container .isPayment{
	margin:10px 0 0 2px;
	display:inline-block;
    color:#fff;
    font-size:14px;
    border:1px solid #fff;
    padding:2px 2px;
}

/* list css */ 
