<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="calendar">
	<insert id="insertBoard">
		insert into ${tableName}_Calendar(num,s_num,subject,content,sdate,edate) values(#{num},#{s_num},#{subject},#{content},#{sdate},#{edate})
	</insert>
	
	<!--시퀀스대용  -->
	<select id="maxNum" resultType="Integer" parameterType="map">
		SELECT NVL(MAX(num), 0) FROM ${tableName}_Calendar
	</select>
	
	<!--일정리스트  -->
	<select id="listCalendar" resultType="com.wooltari.calendar.Calendar" >
		select * from(
 		 select rownum rnum, tb.* from(
 		   select num,s_num,subject,content,to_char(sdate,'YYYY-MM-DD')sdate,to_char(edate,'YYYY-MM-DD')edate from ${tableName}_Calendar
		   where substr(sdate,'4','2') in ${month} or substr(edate,'4','2') in ${month} order by sdate
    <![CDATA[		
			)tb where rownum <= #{end}
		)where rnum>=#{start}
		]]>
	</select>
	
	<!--일정갯수  -->
	<select id="dataCount" resultType="Integer">
		select nvl(count(*),0) from ${tableName}_Calendar
		where substr(sdate,'4','2') in ${month} or substr(edate,'4','2') in ${month}
	</select>
	
	<!--시작일로 월구하기.리스트출력에 필요  -->
	<select id="getMonth" resultType="Integer">
		select substr('${sdate}','6','2') from dual
	</select>
	
	<delete id="deleteBoard" parameterType="Integer">
		delete ${tableName}_Calendar where num=#{num}
	</delete>
	
	<!-- 캘린더 내부출력  -->
	<select id="listCal" resultType="com.wooltari.calendar.Calendar">
		select num,s_num,subject,content,to_char(sdate,'YYYY-MM-DD')sdate,
		to_char(to_date(edate)+1,'YYYY-MM-DD')edate
		from ${tableName}_Calendar	
		
		<where>
			<![CDATA[
         	    AND ((sdate>=#{start} AND sdate<=#{end})
          	      OR (edate>=#{start} AND edate<=#{end}))
     	   ]]>
		</where>		
	</select>
	
	<!-- 회원가입한 스터디 번호 -->
	<select id="memberStudy" resultType="com.wooltari.calendar.Calendar">
		select s_num from studymember where userid=#{userId}
	</select>
	
	<!-- 회원가입한 스터디 번호 한개만 -->
	<select id="memberStudyOne" resultType="Integer">
		select s_num from(
	 		 select rownum rnum, tb.* from( 
	      select s_num from studymember where userid=#{userId}
	      
	     <![CDATA[	
			)tb where rownum <= #{end}
		)where rnum>=#{start}
		]]>
	</select>
	
	<!-- 통합리스트 -->
	<select id="allMemberStudy" resultType="com.wooltari.calendar.Calendar">
		select * from(
 		 select rownum rnum, tb.* from(
 		 	  select num,s_num,subject,content,to_char(sdate,'YYYY-MM-DD')sdate,to_char(edate,'YYYY-MM-DD')edate from s_${result}_Calendar
 		 	  <foreach collection="list" item="dto">
 		 	  	union all
 		 	  	select num,s_num,subject,content,to_char(sdate,'YYYY-MM-DD')sdate,to_char(edate,'YYYY-MM-DD')edate from s_#{dto.s_num}_Calendar
			  </foreach> 
			    where substr(sdate,'4','2') in ${month} or substr(edate,'4','2') in ${month} order by sdate 
 		  <![CDATA[	
			)tb where rownum <= #{end}
		)where rnum>=#{start}
		]]>
	
	</select>
	
	
	
	
</mapper>