<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="infoReqBoard">

	
	<select id="maxNum" resultType="Integer">
		SELECT NVL(MAX(num), 0) FROM infoReqBoard
	</select>

	<insert id="insertBoard" parameterType="com.wooltari.infoReqBoard.InfoReqBoard">
		INSERT INTO infoReqBoard(num, subject, content, userId)
		VALUES(infoReqBoard_seq.NEXTVAL, #{subject}, #{content}, #{userId})	
	</insert>
	
	
	<!-- sql 태그
	
       * LIKE 대신 INSTR() 함수를 사용하는 경우
          INSTR(content, #{searchValue}) &gt; 0
       * CLOB인 경우 검색(CLOB는 LIKE를 사용하면 성능 저하)
          DBMS_LOB.INSTR(content, #{searchValue}) &gt; 0 
	 -->
	<sql id="where-list">
	  <if test="searchKey=='userId'">
	      userName=#{searchValue}
	  </if>
	  <if test="searchKey=='subject'">
	      INSTR(subject, #{searchValue}) &gt; 0
	  </if>
	  <if test="searchKey=='content'">
	      DBMS_LOB.INSTR(content, #{searchValue}) &gt; 0 
	  </if>	 
	</sql>
	
	<!-- 글개수 -->
	<select id="dataCount" parameterType="map"
	            resultType="Integer">
	  SELECT NVL(COUNT(*), 0) FROM infoReqBoard i
	        JOIN member m
	        ON i.userId=m.userId
	     <where>
	     	<if test="searchValue!=null and searchValue!='' ">
	     	    <include refid="where-list"/>
	     	</if>
	     </where>   
	</select>
	
	<!-- 글리스트 -->
	<select id="listBoard" parameterType="map"
	            resultType="com.wooltari.infoReqBoard.InfoReqBoard">
		SELECT * FROM (
		    SELECT ROWNUM rnum, tb.* FROM (
			     SELECT num, i.userId, subject, created,hitCount
			        FROM infoReqBoard i JOIN member m ON i.userId=m.userId  
                    <where>
                         <if test="searchValue != null and searchValue != ''">
			                  <include refid="where-list"/>
		                 </if>
	                </where>
	                ORDER BY num DESC
	<![CDATA[
	        ) tb WHERE ROWNUM <= #{end}
	    ) WHERE rnum >= #{start}
	]]>
	</select>	
	
	<!-- 글보기 -->
	<select id="readBoard" resultType="com.wooltari.infoReqBoard.InfoReqBoard" parameterType="Integer">
		SELECT num, subject, hitCount, created, i.userId FROM infoReqBoard i		
		JOIN member m ON i.userId = m.userId WHERE num= #{num}	
	</select>
	
	<!-- 조회수 증가  -->
	<update id="updateHitCount" parameterType="Integer">
		UPDATE infoReqBoard SET hitCount=hitCount+1 WHERE num=#{num}
	</update>
	
	<!-- 이전글 -->
	<select id="preReadBoard" resultType="com.wooltari.infoReqBoard.InfoReqBoard" parameterType="map">
		SELECT tb.* FROM(SELECT num, i.userId FROM infoReqBoard i JOIN member m ON i.userId=m.userId
		<where>
			<if test="searchValue !=null and searchValue!=''">
				<include refid="where-list"/>
			</if>
			<![CDATA[
				AND (num > #{num})
			]]>
		</where>
			ORDER BY num ASC
		)tb WHERE ROWNUM=1
	</select>
	
	<!-- 다음글 -->
	<select id="nextReadBoard" resultType="com.wooltari.infoReqBoard.InfoReqBoard" parameterType="map">
		SELECT tb.* FROM(SELECT num, i.userId FROM infoReqBoard i JOIN member m ON i.userId=m.userId
		<where>
			<if test="searchValue !=null and searchValue!=''">
				<include refid="where-list"/>
			</if>
			<![CDATA[
				AND (num < #{num})
			]]>
		</where>
			ORDER BY num DESC
		)tb WHERE ROWNUM=1
	</select>
	
	<!-- 파일 -->	
	<insert id="insertFile" parameterType="com.wooltari.infoReqBoard.InfoReqBoard">
		 INSERT INTO infoReqFile(fileNum, num, saveFilename, originalFilename)
 			 VALUES(infoReqFile_seq.NEXTVAL, #{num}, #{saveFilename}, #{originalFilename})
	</insert>
	
	<select id="listFile" parameterType="Integer" resultType="com.wooltari.infoReqBoard.InfoReqBoard">
		SELECT fileNum, num, saveFilename, originalFilename FROM infoReqBoard WHERE num=#{num}	
	</select>
	
	
	<select id="readFile" parameterType="Integer" resultType="com.wooltari.infoReqBoard.InfoReqBoard">
		SELECT fileNum, num, saveFilename, originalFilename FROM infoReqBoard WHERE fileNum=#{fileNum}	
	</select>
	
	

</mapper>