<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="keyword">
	<select id="study" resultType="com.wooltari.keyword.StudyInfo">
		select * from(
	 		select rownum rnum,tb.* from(
		  		select s_num, userId,studyName, study_Info, created, gender,recruit, range 
		   		from study
		   		where DBMS_LOB.INSTR(studyname,'${keyword}') > 0 or DBMS_LOB.INSTR(study_info,'${keyword}') > 0  
		 	    order by created
		<![CDATA[
		  	 )tb where rownum <=#{end}
		)where rnum >=#{start}
		]]>
	</select>
	
	<select id="studyCount" resultType="Integer">
		select nvl(count(*),0)
		from study where DBMS_LOB.INSTR(studyname,'${keyword}') > 0 or DBMS_LOB.INSTR(study_info,'${keyword}') > 0
	</select>
	
</mapper>



