<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<!-- 회원 기본 정보 삽입 -->
	<insert id="insertMember" parameterType="com.wooltari.member.Member">
       INSERT INTO member(userId, userName, userPwd, userImg) VALUES (#{userId}, #{userName}, #{userPwd}, #{userImg, jdbcType=VARCHAR})
    </insert>
	<!-- 회원 상세 정보 삽입 -->
    <insert id="insertMemberInfo" parameterType="com.wooltari.member.Member">
       INSERT INTO memberInfo(userId, birth, tel) VALUES (#{userId}, #{birth, jdbcType=VARCHAR}, #{tel, jdbcType=VARCHAR}) 
    </insert>
	<!-- 회원 정보 가져오기 -->
    <select id="readMember" resultType="com.wooltari.member.Member" parameterType="String">
        SELECT m.userId, userName, userPwd, userImg, point, NVL(enabled, 0) enabled,
        		TO_CHAR(birth, 'YYYY-MM-DD') birth, tel, created_date, modify_date, last_login 
		FROM member m JOIN memberInfo mi ON m.userId = mi.userId
		WHERE m.userId=#{userId}
    </select>
    
    <!-- 마지막 로그인 수정 -->
    <update id="updateLastLogin" parameterType="String">
        UPDATE memberInfo SET last_login = SYSDATE 
        WHERE userId=#{userId}
    </update>
    
    <!-- 어쏘러티(권한) 테이블 -->    
	<insert id="insertAuthority" parameterType="com.wooltari.member.Member">
	    INSERT INTO memberAuth(userId, auth)
	    VALUES (#{userId}, #{auth})
	</insert>
     
    <!-- 어쏘러티(권한) 조회 -->
	<select id="listAuthority" parameterType="String" resultType="com.wooltari.member.Member">
	    SELECT userId, auth
	    FROM memberAuth
	    WHERE userId=#{userId}
	</select>
	
</mapper>