<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mockTest">
	
	<!-- 응시할 시험리스트 목록 추가 -->
	<insert id="insertExamwishList" parameterType="com.wooltari.mockTest.MockTest">
		INSERT INTO examwishList(num, examwishDate, userId, examinfoName) values
			(el_cnum.NEXTVAL, #{examwishDate}, #{userId}, #{examinfoName})
	</insert>
	
	<!-- 응시할 시험리스트 목록 수정 -->
	<update id="updateExamwishList" parameterType="com.wooltari.mockTest.MockTest">
		UPDATE examwishList SET examwishDate=#{examwishDate}, examinfoName=#{examinfoName} WHERE num=#{num}
	</update>
	
	<!-- 응시할 시험리스트 내 시험 목록 불러오기 : #{}이 없기 때문에 parameterType을 명시하지 않았음-->
	<select id="readExamList" resultType="com.wooltari.mockTest.MockTest">
		SELECT examinfoName from examInfo
	</select>
	
	<!-- 데이터 수 -->
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*),0) FROM examwishList el 
  			JOIN examinfo e ON el.examinfoName = e.examinfoName  WHERE userId = #{userId}
	</select>
	
	<!-- 응시할 시험리스트 목록 (번호, 시험명, 주최기관, 응시일, 디데이 필요 - userId는 안가져오고 싶은데) -->
	<select id="examwishList" parameterType="map" resultType="com.wooltari.mockTest.MockTest">
		SELECT * FROM (
			SELECT ROWNUM wishlistNum, tb.* FROM (
				SELECT num, el.examinfoName, examinfoOrgan, examwishDate FROM examwishList el
				  LEFT OUTER JOIN examinfo e ON el.examinfoName = e.examinfoName WHERE userId = #{userId}
		<![CDATA[		  
	  			) tb WHERE ROWNUM <= #{end}
	    	) WHERE wishlistNum >= #{start} ORDER BY EXAMWISHDATE
		]]>
	</select>
	
	<!-- 응시할 시험리스트 삭제 -->
	<delete id="deleteWishlists" parameterType="java.util.List">
		DELETE FROM examwishList WHERE num IN
		<foreach item="num" index="index" collection="list" open="(" separator="," close=")">
		#{num}
		</foreach>
	</delete>
	
	
	
	
	<!-- 총 데이터 수   [[[일단 보류]]]
		<select id="wishdataCount" resultType="Integer" parameterType="map">
		SELECT NVL(COUNT(*),0) FROM examwishList el JOIN member m ON el.userId = m.userId
		<where>
			<if test="searchValue!=null and searchValue!=''">
				<include refid=""></include>
			</if>
		</where>
	</select>	 -->
</mapper>