<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="search">

	<!-- 인원 조건 -->
	<sql id="recruit-list">
    	<if test="recruit==0">
		recruit > 0
		</if>
    	<if test="recruit==2">
		recruit = 2
		</if>
		<if test="recruit==3">
		recruit = 3
		</if>
		<if test="recruit==4">
		recruit = 4
		</if>
		<if test="recruit==5">
		recruit = 5
		</if>
		<if test="recruit==6">
		recruit = 6
		</if>
	</sql>
	
	<!-- 성별 조건 -->
	<sql id="gender-list">
		<if test="gender!=null and gender!=''">
		</if>
	   	<if test="gender=='무관'">
		AND gender = '무관'
		</if>
		<if test="gender=='여자'">
		AND gender = '여자'
		</if>
		<if test="gender=='남자'">
		AND gender = '남자'
		</if>
	</sql>

	<!-- 공개 조건 -->
	<sql id="range-list">
	   	<if test="range==0">
			 range = 0
		</if>
		<if test="range==1">
			 range = 1
		</if>
		<if test="range==2">
			 range = 2
		</if>
	</sql>
	
	<!-- 스터디명/스터디소개 검색 -->
	<sql id="search-value">
		<if test="searchValue != null and searchValue != ''">
		AND studyName LIKE '%' || #{searchValue} || '%' OR study_info LIKE '%' || #{searchValue} || '%'
		</if>
	</sql>
	
	
	
	<!-- 리스트 개수 카운트 -->
       <select id="dataCount" parameterType="map" resultType="Integer">
       SELECT NVL(COUNT(*),0) AS studycnt FROM(
           SELECT s.s_num, s.userId, created, studyName , study_Info, gender, recruit, range, imageFilename, userName , userImg, memcnt
           FROM (SELECT s_num, NVL(COUNT(*),0) AS memCnt FROM studymember
                 GROUP BY s_num)tb, study s JOIN member m  ON s.userId = m.userId
           WHERE tb.s_num = s.s_num
           GROUP BY s.s_num, s.userId, created, studyName , study_Info, gender, recruit, range, imageFilename, userName , userImg, memcnt
           HAVING
			<include refid="recruit-list"/>
			<include refid="gender-list"/>
			<include refid="search-value"/>
	)
		
	</select>
	
	<!-- 리스트 가져오기 -->
	<select id="listSearch" parameterType="map" resultType="com.wooltari.study.search.StudySearch">
       SELECT * FROM (
              SELECT ROWNUM rnum, tb.* FROM (
                     SELECT s.s_num, s.userId, created, studyName , study_Info, gender, recruit, range, imageFilename, userName , userImg, memcnt
                     FROM (SELECT s_num, NVL(COUNT(*),0) AS memCnt FROM studymember
                           GROUP BY s_num)tb, study s JOIN member m  ON s.userId = m.userId
                     WHERE tb.s_num = s.s_num
                     GROUP BY s.s_num, s.userId, created, studyName , study_Info, gender, recruit, range, imageFilename, userName , userImg, memcnt
                     HAVING
					<include refid="recruit-list"/>
					<include refid="gender-list"/>
					<include refid="search-value"/>
		<![CDATA[
	        ) tb WHERE ROWNUM <= #{end}
	    ) WHERE rnum >= #{start}
	]]>
	</select>
	
</mapper>