<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="studywhere">
	<insert id="insertStudyWhere" parameterType="com.wooltari.studywhere.StudyWhere">
		insert into studywhereboard(num,userId,subject,content,imageFileName,placename,address,tel,ocTime,region) 
		values(studywhereboard_seq.nextval,#{userId},#{subject},#{content},#{imageFileName,jdbcType=VARCHAR},#{placename},#{address},#{tel},#{ocTime},#{region})
	</insert>
	 
	 <!-- 조건검색 -->
	<sql id="where-list">
		
		<if test="searchKey=='subject'">
			INSTR(subject, #{searchValue})&gt;=1
		</if>
		
	
		<if test="searchKey=='region'">
			INSTR(region, #{searchValue})=1
		</if>
		
		
		<if test="searchKey=='content'">
			DBMS_LOB.INSTR(content, #{searchValue})&gt;=1
		</if>

	</sql>
	
	<select id="dataCount" resultType="Integer" parameterType="map">
			SELECT NVL(COUNT(*),0) FROM studywhereboard
		<where>
			<if test="searchValue!=null and searchValue!=''">
				<include refid="where-list"/>
			</if>
		</where>
	</select>
	
	
	<select id="bestStudyWhere" parameterType="map" resultType="com.wooltari.studywhere.StudyWhere">
 	SELECT * FROM (
			    SELECT ROWNUM rnum, tb.* FROM (
			       SELECT tbBbs.num,subject,placename,region,content,
			          NVL(likesCount, 0) likesCount
			       FROM
			       (
			           (
				         SELECT num,subject,placename,region,content,
				           TO_CHAR(b.created, 'YYYY-MM-DD') created
				         FROM studywhereboard b JOIN member m ON b.userId=m.userId                             
		                ) tbBbs       
                LEFT OUTER JOIN
				        (
				            SELECT num, COUNT(*) likesCount
	                                    FROM studywherelike GROUP BY num
				        ) tbLikes ON tbBbs.num = tbLikes.num
		            )
		           ORDER BY likesCount desc
		<![CDATA[
		        ) tb WHERE ROWNUM <= 3
		    ) WHERE rnum >= 1
		]]>
	</select>
	
	
	
	<select id="listStudyWhere" parameterType="map" resultType="com.wooltari.studywhere.StudyWhere">
 	SELECT * FROM (
			    SELECT ROWNUM rnum, tb.* FROM (
			       SELECT tbBbs.num,hitCount,userId,subject,content,imageFileName,placename,address,tel,ocTime,region,created,
			           NVL(replyCount, 0) replyCount,NVL(likesCount, 0) likesCount
			       FROM
			       (
			           (
				         SELECT num,hitCount,m.userId,subject,content,imageFileName,placename,address,tel,ocTime,region,
				           TO_CHAR(b.created, 'YYYY-MM-DD') created
						   
				         FROM studywhereboard b JOIN member m ON b.userId=m.userId
                        <where>
	                         <if test="searchValue != null and searchValue != ''">
				                  <include refid="where-list"/>
			                 </if>
		                </where>
		                ) tbBbs
				        LEFT OUTER JOIN
				        (
				            SELECT num, COUNT(*) replyCount
	                                    FROM studywherereply GROUP BY num
				        ) tbReply ON tbBbs.num = tbReply.num
                
                LEFT OUTER JOIN
				        (
				            SELECT num, COUNT(*) likesCount
	                                    FROM studywherelike GROUP BY num
				        ) tbLikes ON tbBbs.num = tbLikes.num
                
		            )
		           ORDER BY num DESC
		<![CDATA[
		        ) tb WHERE ROWNUM <= #{end}
		    ) WHERE rnum >= #{start}
		]]>
	</select>
	
	<select id="readStudyWhere" parameterType="Integer" resultType="com.wooltari.studywhere.StudyWhere">
		SELECT num,hitCount,m.userId,subject,content,imageFileName,placename,address,tel,ocTime,region,
				           TO_CHAR(b.created, 'YYYY-MM-DD') created
		FROM studywhereboard b JOIN member m ON b.userId = m.userId WHERE num=#{num}
	</select>
	
	<select id="updateHitCount" parameterType="Integer">
		UPDATE studywhereboard SET hitCount=hitCount+1 WHERE num=#{num}
	</select>
	
	<select id="preReadStudyWhere" parameterType="map" resultType="com.wooltari.studywhere.StudyWhere">
		SELECT tb.* FROM (
			SELECT num, subject,placename FROM studywhereboard
			<where>
				<if test="searchValue != null and searchValue != '' ">
					<include refid="where-list"/>
				</if>
				
				<![CDATA[
					AND (num > #{num})
				]]>
			</where>
			ORDER BY num ASC
		)tb WHERE ROWNUM=1
	</select>
	
	<select id="nextReadStudyWhere" parameterType="map" resultType="com.wooltari.studywhere.StudyWhere">
		SELECT tb.* FROM (
			SELECT num, subject,placename FROM studywhereboard
			<where>
				<if test="searchValue != null and searchValue != '' ">
					<include refid="where-list"/>
				</if>
				
				<![CDATA[
					AND (num < #{num})
				]]>
			</where>
			ORDER BY num DESC
		)tb WHERE ROWNUM=1
	</select>
	
	<!-- 게시판 수정 -->
	<update id="updateStudyWhere" parameterType="com.wooltari.studywhere.StudyWhere">
		UPDATE studywhereboard SET subject=#{subject}, content=#{content},
		placename=#{placename},address=#{address},tel=#{tel},ocTime=#{ocTime},region=#{region} WHERE num=#{num}
	</update>
	
	<!-- 게시판 삭제 -->
	<delete id="deleteStudyWhere" parameterType="Integer">
		DELETE FROM studywhereboard WHERE num=#{num}
	</delete>
	
	<!-- 게시물 공감 -->
	<insert id="insertLikeStudyWhere" parameterType="com.wooltari.studywhere.StudyWhere">
		INSERT INTO studywherelike (num, userId) VALUES (#{num},#{userId})
	</insert>
	
	<!-- 게시물 공감 개수 -->
	<select id="countLikeStudyWhere" resultType="Integer" parameterType="Integer">
		SELECT NVL(COUNT(*),0) FROM studywherelike WHERE num=#{num}
	</select>
	
	<!-- 댓글 달기 -->
	<insert id="insertReply" parameterType="com.wooltari.studywhere.Reply">
		INSERT INTO studywherereply (reNum, num, userId, content)
			VALUES (studywherereply_seq.NEXTVAL, #{num}, #{userId}, #{content})
	</insert>
	
	<!-- 댓글개수 --> 
	<select id="replyDataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*),0) FROM studywherereply WHERE num=#{num}
	</select>
	
	<!-- 댓글리스트 -->
	<select id="listReply" parameterType="map" resultType="com.wooltari.studywhere.Reply">
		SELECT * FROM (
			SELECT ROWNUM rnum, tb.* FROM(
				SELECT reNum, num, r.userId, userName, content, created
				FROM studywherereply r
				JOIN member m ON r.userId = m.userId
				WHERE num=#{num}
				ORDER BY reNum DESC
			<![CDATA[
				  ) tb WHERE ROWNUM <= #{end}
				) WHERE rnum >= #{start}
			]]>
	</select>

	
	<!-- 댓글 삭제 -->
	<delete id="deleteReply" parameterType="map">
		DELETE studywherereply WHERE
		<if test="mode=='num'">
			num=#{num}
		</if>
		<if test="mode=='reply'">
			reNum=#{reNum}
		</if>
	</delete>
</mapper>