<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="study">
	<!-- 스터디 카테고리 대분류 -->
	<select id="listBigCategory" resultType="com.wooltari.study.StudyCategory">
	    SELECT categoryNum, subject FROM s_category
	          WHERE parent IS NULL
	          ORDER BY categoryNum ASC
	</select>
	
	<!-- 스터디 카테고리 중분류 -->
	<select id="listSmallCategory" parameterType="Integer" resultType="com.wooltari.study.StudyCategory">
	    SELECT categoryNum, subject, parent FROM s_category
	          WHERE parent = #{parent}
	          ORDER BY categoryNum ASC
	</select>
	
	<!-- 스터디 도시 대분류 -->
	<select id="listBigCity" resultType="com.wooltari.study.StudyCity">
	    SELECT cityNum, cityName FROM s_city
	          WHERE parent IS NULL
	          ORDER BY cityNum ASC
	</select>
	
	<!-- 스터디 도시 중분류 -->
	<select id="listSmallCity" parameterType="Integer" resultType="com.wooltari.study.StudyCity">
	    SELECT cityNum, cityName, parent FROM s_city
	          WHERE parent = #{parent}
	          ORDER BY cityNum ASC
	</select>
	
	<!-- 스터디번호 가져오기  -->
	<select id="maxStudySeq" resultType="Long">
		SELECT NVL(MAX(s_num),0) FROM study
	</select>
	
	<!--스터디생성  -->
	<insert id="insertStudy" parameterType="com.wooltari.study.StudyInfo">
		INSERT INTO study (s_num, userId , studyName, study_Info, gender, recruit, range ,imageFileName) 
		VALUES (#{s_num},#{userId},#{studyName},#{study_Info},#{gender},#{recruit},#{range},#{imageFileName, jdbcType=VARCHAR})
  	</insert>
  	
  	<insert id="insertstudyCategory" parameterType="com.wooltari.study.StudyInfo">
  		INSERT INTO studyCategory (s_num , choiceCategory) VALUES(#{s_num},#{category})
  	</insert>
  	
  	<insert id="insertstudyCity" parameterType="com.wooltari.study.StudyInfo">
  		INSERT INTO studyCity (s_num , choiceCity) VALUES(#{s_num},#{city})
  	</insert>
  	
  	<insert id="insertstudyTarget" parameterType="com.wooltari.study.StudyInfo">
  		INSERT INTO studyTarget (s_num , target) VALUES(#{s_num},#{s_target})
  	</insert>
  	
  	<!-- (내가만든)나의 스터디 리스트 -->
  	<select id="listMyStudy" parameterType="String" resultType="com.wooltari.study.StudyInfo">
  		SELECT * FROM study WHERE userId = #{userId}
  	</select>
  	
  	<!-- 스터디 내 게시판동적 생성 -->
  	<!--자유게시판 -->
	<update id="createStudyBoard" parameterType="Long">
			CREATE TABLE s_${value}_Board(
		   num number not null
		   ,s_num number not null
		   ,subject varchar2(200) not null
		   ,content varchar2(2000) not null
		   ,created date default sysdate
		   ,hitCount number not null
		   ,primary key(num)
		   ,foreign key(s_num) references study(s_num) on delete cascade	  
		)   
	
	</update>
	
	<update id="dropStudyBoard" parameterType="long">
		drop table s_${value}_Board purge
	</update>
	
	
	<!--자유게시판 사진   -->
	<update id="createStudyPhoto" parameterType="Long">
		   CREATE TABLE s_${value}_Photo(
		   pNum number not null
		   ,num number not null
		   ,imageFileName varchar2(1000) not null
		   ,primary key(pNum)
		   ,foreign key(num) references s_${value}_Board(num) on delete cascade
		) 
	</update>
	
	<update id="dropStudyPhoto" parameterType="long">
		drop table s_${value}_Photo purge
	</update>
	
	
	<!--자유게시판 댓글  -->
	<update id="StudyBoardReply" parameterType="Long">
	CREATE TABLE s_${value}_BoardReply(
   reNum number not null
   ,num number not null
   ,content varchar2(500) not null
   ,primary key(reNum)
   ,foreign key(num) references s_${value}_Board(num) on delete cascade
	)
	</update>
	
	<update id="dropBoardReply" parameterType="long">
		drop table s_${value}_BoardReply purge
	</update>
	
	
	<!--자유게시판좋아요 -->
	<update id="StudyBoardLike" parameterType="Long">
	CREATE TABLE s_${value}_BoardLike(
   num number not null
   ,primary key(num)
   ,foreign key(num) references s_${value}_Board(num) on delete cascade

)
	</update>
	
	<update id="dropBoardLike" parameterType="long">
		drop table s_${value}_BoardLike purge
	</update>
	
	
	<!--일정게시판  -->
	<update id="createStudyCalendar" parameterType="Long">
	CREATE TABLE s_${value}_Calendar(
   num number not null
   ,s_num number not null
   ,subject varchar2(100) not null
   ,content varchar2(500)
   ,sdate date not null
   ,edate date
   ,primary key(num)
   ,foreign key(s_num) references study(s_num) on delete cascade
)
	</update>
	
	<update id="dropStudyCalendar" parameterType="long">
		drop table s_${value}_Calendar purge
	</update>
	
	<!--일정게시판 댓글  -->
	<update id="StudyCalendarReply" parameterType="Long">
	CREATE TABLE s_${value}_CalendarReply(
   reNum number not null
   ,num number not null
   ,content varchar2(500) not null
   ,primary key(reNum)
   ,foreign key(num) references s_${value}_Calendar(num) on delete cascade
)
	</update>
	
	<update id="dropCalendarReply" parameterType="long">
		drop table s_${value}_CalendarReply purge
	</update>
  	
</mapper>