<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="studyTeam">
	<insert id="insertTeam" parameterType="com.wooltari.study.team.Team">
		INSERT INTO studyMember(s_num,userId,imageFileName,content,enabled) VALUES (#{s_num},#{userId},#{imageFileName, jdbcType=VARCHAR},#{content,jdbcType=VARCHAR},#{enabled})
	</insert>
	
	
	
	<!-- 대기멤버 리스트 -->
	<select id="waitList" parameterType="Long" resultType="com.wooltari.study.team.Team">
		SELECT s_num, s.enabled, s.userId ,imageFileName ,content ,userName 
		FROM studyMember s 
		JOIN member m ON s.userId = m.userId  
		WHERE s_num=#{s_num} AND s.enabled =0

	</select>
	<!-- 대기멤버 수 -->
	<select id="waitCount" parameterType="Long" resultType="Integer">
	  SELECT NVL(COUNT(*),0) FROM studyMember
 	  WHERE s_num= #{s_num} AND enabled =0
	</select>
	
	<!-- 멤버 리스트 -->
	<select id="teamList" parameterType="Long" resultType="com.wooltari.study.team.Team">
		SELECT s_num, s.enabled, s.userId ,imageFileName ,content ,userName 
		FROM studyMember s 
		JOIN member m ON s.userId = m.userId  
		WHERE s_num=#{s_num} AND s.enabled =1
		ORDER BY joinDate DESC
	</select>
	
	<!-- 멤버 수 -->
	<select id="teamCount" parameterType="Long" resultType="Integer">
	  SELECT NVL(COUNT(*),0) FROM studyMember
 	  WHERE s_num= #{s_num} AND enabled =1
	</select>
	
	<!-- 관리자 승인 -->
	<update id="updateAdmit" parameterType="Map">
		UPDATE studyMember  SET ENABLED = ENABLED+1 WHERE s_num=#{s_num} AND userId=#{userId} 
	</update>
	
</mapper>